.navbar {
  background-image: url(img/navbar.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 2rem;
  background-color: #d3d3d3;
}

#project {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}
